extends ./base.pug

block content
  -function fixnum(x){return (x<10?"0":"")+x;}
  -function pDate(d){
    -if( d ){
        - return d.getFullYear() +"-"+(d.getMonth()+1)+"-"+d.getDate()+" "+fixnum(d.getHours())+":"+fixnum(d.getMinutes())+":"+fixnum(d.getSeconds())
    - }else{
        - return ""; 
    -}  
  -}
  script(src="/sortableTable/webtoolkit.sortabletable.js")  
  table#myTable
    thead
      th(class="c1",width="220") file_name
      th(class="c1") modify_datetime  
      th
      th
      th  
      th

    each file in books
      tr
        td
          a(href=file.encfn)= file.fn
           
        td= pDate(file.fctime)
        td 
          button(onclick=`printPDF('/report_to_public/printPDFfile${file.encfn}');`) PRT1
        td 
          button(onclick=`printPDF('/report_to_public/printPDFfile2${file.encfn}');`) PRT2
        td 
          button(onclick=`printPDF('/report_to_public/printPDFfile3${file.encfn}');`) PRT3     
        td                 
          button(onclick=`tmp_to_pub('/report_to_public/tmpToPub${file.encfn}');`) tmp_to_pub
  script.          
    function printPDF(x){
       $.get(x,function(data){alert(data);})
    }
    function tmp_to_pub(x){
       $.get(x,function(data){alert(data);})
    }
    var t = new SortableTable(document.getElementById('myTable'), 100);           