extends ./base.pug

block content
  
  -function rcx2f(x){
    -       if(x== "RC5"){ return "rank,s_number,number,name,classno,rc,note  ";}
    -  else if(x== "RC0"){ return "rank,s_number,number,classno,name,rc,note";}
    -  else if(x== "RC1"){ return "rank,group_id,road,number,classno,name,rc,grk,note";}
    -  else if(x== "RC2"){ return "rank,road,number,classno,name,rc,note";}
    -  else if(x== "RC3"){ return "rank,group_id,road,name,number,rc,classno,grk,note";}
    -  else if(x== "RC4"){ return "rank,road,name,number,rc,classno,note";}
    -  else if(x== "RC6"){ return "rank,group_id,road,number,name,classno,rc,note";}
    -  else if(x== "RC7"){ return "rank,group_id,s_number,number,name,classno,rc,grk,note";}
  -}
  -function pDate(d){
    -if( d ){
        - return d.getFullYear() +"-"+(d.getMonth()+1)+"-"+d.getDate()+" "+d.getHours()+":"+d.getMinutes()+":"+d.getSeconds()
    - }else{
        - return ""; 
    -}  
  -}

  script(src="/sortableTable/webtoolkit.sortabletable.js")
  script(src="/sortableTable/js/jquery-1.10.2.min.js")
  link(type="text/css", href="/sortableTable/js/grid.css" ,rel="stylesheet")
  script(src="/sortableTable/js/grid.js")
  script.
    var PostUrl="field_post.php";    //race_post.php
    var LockPostUrl="field_lock.php";
    var imemodeforsport = 'RCFJH';
  script(src="/sortableTable/js/sport_rc.js")
  style.
    div.container{margin:0px;}
  if lock
    table
      tr
        td
          button#edit_tbl Edit
        td
          button#tab_r &gt;
        td
          button#tab_d v
        td
          button#save_tbl SAVE

        if profile && profile.id && profile.id< 10
          td#userid= profile.id
          td
            button#lock_tbl LOCK
        td#siid= siid
        td#rcx= books[0][0].rcx            
  -let rcx=books[0][0].rcx
  -let s_item=books[0][0].s_item
  span= s_item
  -let titlename="h1,h2,h3,h4,h5,h6,h7,h8,h9,h10,h11,h12,h13,h14,h15,h16";
  -let fieldnames = "rank,s_number,number,classno,name,h1,h2,h3,h4,h5,h6,h7,h8,h9,h10,h11,h12,h13,h14,h15,h16,rc,note"
  //frc_id,rcx,
  -let c_fieldnames = "名次,次序,比賽號,姓名,班級,h1,h2,h3,h4,h5,h6,h7,h8,h9,h10,h11,h12,h13,h14,h15,h16,成績,備註"
  -let fns=fieldnames.split(',');
  -let cfns=c_fieldnames.split(',')
  table#EDUTBL
    thead
      each tn in cfns
        -let pftn=tn.substr(0,1);
        if pftn=="h"
          //th= books[0][tn]
          th(height="30px",width="50px", imemode="tel", class='M', id=`HJ_${tn}` )= books[0][0][tn]
        else
          th !{tn}
    tbody   
      each  book in books[1]
        tr
          each fn in fns
            -let prefix=fn.substr(0,1);
            if fn=="s_number" ||  fn=="number" ||  fn=="classno" ||  fn=="name"    
              td= book[fn]
            else if fn=="rank"
              td(height="30px",imemode="number", width="60px", class="M", id=`rank_${book["frc_id"]}`)= book[fn]
            else if fn=="rc"
              td(height="30px",width="40px",align="right",class="M",id=`${fn}_${book['frc_id']}`)= book[fn]
            else   
              td(height="30px",width="40px",class="M",id=`${fn}_${book["frc_id"]}`)= book[fn]          
  div 1*00 > 1.00  ;  00**00 > 00''00  ; 0*00**00 > 0'00''00    
  
     


