extends ./base.pug

block content
  -function pDate(d){
    -if( d ){
        - return d.getFullYear() +"-"+(d.getMonth()+1)+"-"+d.getDate()+" "+d.getHours()+":"+d.getMinutes()+":"+d.getSeconds()
    - }else{
        - return ""; 
    -}  
  -}
  -function pType(d){
    -if( d<10 ){
        - return "學習"
    - }else{
        - return ""; 
    -}  
  -}  
  script(src="/sortableTable/webtoolkit.sortabletable.js")
  script.
    function f(i,j)	{window.location.href=("sport.php?id="+i+"&lock="+j);}
    function f0(i,fj,fl)
    {
      if(fj=="RCFIE"){ window.location.href=("field.php?id="+i+"&fj="+fj+"&lock="+fl);}
      if(fj=="RCFJH"){window.location.href=("fieldhj.php?id="+i+"&fj="+fj+"&lock="+fl);}
    }
 
  style.
    table {
    text-align: left;
    font-size: 12px;
    font-family: verdana;
    background: #c0c0c0;
    }
    
    table thead  {
    cursor: pointer;
    }
    
    table thead tr,
    table tfoot tr i{
    background: #c0c0c0;
    }
    
    table tbody tr {
    background: #f0f0f0;
    }
    
    td, th {
    border: 1px solid white;
    }
  input#myInput(type="text", placeholder="Search..")
  table#myTable
    thead
      tr
        th(class="c1") id
        th(class="c1") s_item
        th Name List
        th Prom/Resu Rept
        th(class="c1") lock
        th(class="c1") link
        th lock time
    tbody   
      each book in books[0]
        -sflag= (profile.id < 10 ) && !(book.lock_item ==1)
        tr
          td= book.si_id
          td= book.s_item
          - pflag= book.p_cnt && book.p_cnt>0
          
          td
            a(href=`/sortableTable/rc/namelist/${book.si_id}?bar=1`)
              input( type='button',value='名單') 
            if sflag
              input(type="button",value="P3",onclick=`tmpPDF('/rc/namelist/${book.si_id}','${book.s_item}名單');`)                   
          if pflag
            td
              a(href=`/sortableTable/rc/prom/${book.si_id}?bar=1`)
                input( type='button',value='進級賽果')     
              span= book.p_cnt  
              if sflag  
                input(type="button",value="P2",onclick=`tmpPDF('/rc/prom/${book.si_id}','${book.s_item}賽果');`)                   
          else
            td
              a(href=`/sortableTable/rc/result/${book.si_id}?bar=1`)
                input( type='button',value='賽果')  
              if sflag
                input(type="button",value="P2",onclick=`tmpPDF('/rc/result/${book.si_id}','${book.s_item}賽果');`)                   


          td= book.lock_item
          td 
            if book.lock_item
              span locked
            else           
              input( type="button", onclick=`f('${book.si_id}','${book.lock_item}')`,value="EDIT")
          td= pDate(book.lock_time)
          td= book.ds_n

      each book in books[1]
        -fflag= (profile.id < 10 ) && !(book.lock_item ==1)
        tr
          td= book.fi_id
          td= book.f_item
          td
            a(href=`/sortableTable/${book.rcx}/namelist/${book.fi_id}`)
              input( type='button',value='名單')
          td
            a(href=`/sortableTable/${book.rcx}/result/${book.fi_id}?bar=1`)
              input( type='button',value='賽果')
              
            if fflag
              input(type="button",value="P2",onclick=`tmpPDF('/${book.rcx}/result/${book.fi_id}','${book.f_item}賽果');`)                   

               
          td=  book.lock_item
          td 
            if book.lock_item == 1
              span locked
            else 
              input( type="button", onclick=`f0('${book.fi_id}','${book.rcx}','${book.lock_item}')`,value="EDIT")
          td= pDate(book.lock_time)
          td= book.ds_n      
  script.
  
    function tmpPDF(url,fn) {
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
          alert(this.responseText);
        }
      };
      var genPDFURL= "/report_to_public/genPDF?url=" + encodeURI(url) + "&fn=" + fn;
      xhttp.open( "GET",genPDFURL , true);
      xhttp.send();
    }

    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });


    ///*
    //function printPDF(x,y){
    //   for(var i=0;i<y;i++)
    //   {
    //     var xhttp = new XMLHttpRequest();
    //     xhttp.onreadystatechange = function () {
    //     if (this.readyState == 4 && this.status == 200) {
    //       alert(`${this.responseText}`);
    //     }
    //   };
    //   xhttp.open("GET", x, true);
    //   xhttp.send();
    //   } 
    //}*/
