extends ./base.pug

block content
  -function rcx2f(x){
    -       if(x== "RC5"){ return "rank,s_number,number,name,classno,rc,note";}
    -  else if(x== "RC0"){ return "rank,s_number,number,classno,name,rc,note";}
    -  else if(x== "RC1"){ return "rank,group_id,road,number,classno,name,rc,grk,note";}
    -  else if(x== "RC2"){ return "rank,road,number,classno,name,rc,note";}
    -  else if(x== "RC3"){ return "rank,group_id,road,name,number,rc,classno,grk,note";}
    -  else if(x== "RC4"){ return "rank,road,name,number,rc,classno,note";}
    -  else if(x== "RC6"){ return "rank,group_id,road,number,name,classno,rc,note";}
    -  else if(x== "RC7"){ return "rank,group_id,s_number,number,name,classno,rc,grk,note";}
  -}
  -function pDate(d){
    -if( d ){
        - return d.getFullYear() +"-"+(d.getMonth()+1)+"-"+d.getDate()+" "+d.getHours()+":"+d.getMinutes()+":"+d.getSeconds()
    - }else{
        - return ""; 
    -}  
  -}
  script(src="/sortableTable/webtoolkit.sortabletable.js")
  script(src="/sortableTable/js/jquery-1.10.2.min.js")
  link(type="text/css", href="/sortableTable/js/grid.css" ,rel="stylesheet")
  script(src="/sortableTable/js/grid.js")
  script.
    var PostUrl="race_post.php";
    var LockPostUrl="race_lock.php"; 
    var imemodeforsport = 'race';
  script(src="/sortableTable/js/sport_rc.js")
    
  if lock
    table
      tr
        td
          button#edit_tbl Edit
        td
          button#tab_r &gt;
        td
          button#tab_d v
        td
          button#save_tbl SAVE
        if profile 
          td#userid= profile.id          
        if profile &&  profile.id < 10
          td
            button#lock_tbl LOCK
          td
            button#addProm_tbl addProm  
        td#siid= siid
        td#rcx= books[0][0].rcx

  -let rcx=books[0][0].rcx
  -let s_item=books[0][0].s_item
  -let title=books[0][0].title.split(',')
  -let f=rcx2f(rcx).split(',')
  span= s_item
  span 00*00**00
  table#EDUTBL
    thead
      each tn in title
        th= tn
    tbody   
      each  book in books[1]
        tr
          each fn in f
            if rcx=="RC3" && fn=="classno" 
              td 
            else if fn=='rank'
              td(class="M" ,imemode="number",  height="30px" ,width="40px", id=`rank_${book["rc_id"]}`)= book[fn]
            else if fn=='grk'
              td(class="M" , height="30px" ,width="30px", id=`grk_${book["rc_id"]}`)= book[fn]
            else if fn=='rc'
              td(class="M" ,align="right",imemode="tel",  height="30px" ,width="100px", id=`rc_${book["rc_id"]}`)= book[fn]
            else if fn=='note'
              td(class="M" , height="30px" ,width="30px", id=`note_${book["rc_id"]}`)= book[fn]
            else   
              td= book[fn]

  div 1*00 > 1.00  ;  00**00 > 00''00  ; 0*00**00 > 0'00''00
  textarea#promtxt(name="promtxt", cols="60", rows="2", readonly)= books[0][0].plist
  //<button onclick="myFunction()">Show Snackbar</button>
  
  <div id="snackbar">Some text some message..</div>  
  
  script.
     function myFunction() {
       var x = document.getElementById("snackbar");
       x.className = "show";
       setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
     }

    

     


